In [2]:
# Provide the Current Working Directory path
pwd

'd:\\Data Science\\Geeks For Geeks\\Week1'

In [5]:
# Alg Operation

print(12+4)
print(14-2)
print(14*2)
print(14/2)
print(2**3)
print(20//3)

16
12
28
7.0
8
6

#### Variables
##### python is alloting dynamic memory when both variable has same values
#####  First char of variable will be _ or Alphabets not an integer

In [7]:
x = 20
print(type(x))
print(id(x))

<class 'int'>
140731100489096

In [8]:
y = 20
print(id(y))

140731100489096

In [11]:
# We can assign mulitple variable in python but the number of the varibale on left side be equal to number of data on right side

x,y = 20,10
print(x,y)

20 10

In [21]:
# python start calculation from right hand side and then after it assign the variable from left hand side

x = 5
y = 10

x,y,x = x+y,x-y,x*y

In [20]:
x,y

(50, -5)

In [22]:
x = 10
y = x + 5
x,x,y,x=x,y,x,x+5

In [23]:
x,y

(15, 10)

#### Data Types 
int
float
string
bool

list
tuple
set
dict

In [25]:
x = 20
print(type(x))
y = 10.0
print(type(y))

<class 'int'>
<class 'float'>

In [29]:
# Converstion of Datatype from int to float

x = 20.8
int(x)
x = int(x)
float(x)

20.0

In [33]:
print(10==12)
print(10!=12)
print(10==10.0)

False
True
True

In [32]:
x =10.0
y = 10
x == y # Check the value of the variable
x is y # Check the loaction of the variable

False

In [34]:
# Boolean Data Type 
# True = 1 False = 0
True, False

(True, False)

In [42]:
print(5+True)
print(5+False)
print(5+True-False)
x = 5+True-False
print(x)
print(type(x))
2.3 == True

6
5
6
6
<class 'int'>

False

In [45]:
# While converstion of int to bool it convert to True only to the integer and float but 
# when value is zero it will be False

x = 12.0
print(type(x))
print(bool(x))
y = 0
print(type(y))
print(bool(y))

<class 'float'>
True
<class 'int'>
False

# String

In [55]:
# When String is assign in single and double quotes it should completed in single line
# for triple quotes we can assign multiplle sentences

x = 'we are learning python'
y = 'we are learning python'
z = '''we are learning python'''

print(type(x))
print(type(y))
print(type(z))
print(id(x))
print(id(y))
print(id(z))
print(type(x))
print(len(x))
print(x == y)
print(x == z)
print(x is y)
print(x is z)

<class 'str'>
<class 'str'>
<class 'str'>
1518310605168
1518303267776
1518303254032
<class 'str'>
22
True
False
False
False

In [56]:
# When string mutliply by zero we get empty string
# when two string are added using addition operation string get concatenation

x = 'Hello '
y = 'World'

print(x*3)
print(x+y)

Hello Hello Hello
Hello World

In [57]:
a = "Python"
a[0]

'P'

In [59]:
print(id(a[0]))
print(id(a[1]))
a[0] is a[1]

140731100533576
140731100535872

False

In [62]:
b = 'pytthon'
b.index("t")

2

In [65]:
# By Using index function we get index position of the char
# But we have some repeated char we use count
b.count('t')
b.index('tt')

2

In [66]:
print(a.isalpha())# a contain alphabets
print(a.isnumeric())# a contain number
print(a.isalnum())# contain num or alphabets
a = "class"
a == a[::-1]

True
False
True

False

In [1]:
s = 'python class'
s.title()

'Python Class'