#### list,Tuple,Set and dict are container type datatype

### Index

In [11]:
# While retiriveing the data from a string our starting position will be the index of the char and while end is index of the char+1.
# So indexing in a string comes with three option were the third option is step size by default the step size is 1 but we can put any other number.
a = 'we are Learning Python'
print(a[0:2])
print(a[3:6])
print(a[7:15])
print(a[16:22])
print(len(a))

we
are
Learning
Python
22

In [15]:
# Negative Indexing
# In negative index it stop one step before and the statring position is -number
# In positive index the end position end with end+1 and In negative index the end position end with end-1.
print(a[-1])
print(a[-3])
print(a[-7:-4])
print(a[-10:])
print(a[:-5])
a[5:0]

n
h
 Py
ing Python
we are Learning P

''

In [17]:
a[-1::-1]
a[::+1]

'we are Learning Python'

In [21]:
z = 23
y = str(z)
print(type(y))
y[::-1]

<class 'str'>

'32'

In [28]:
a = "python"
print(a[0:10:-1])
print(a[5:0:1])
print(a[0:20:2]) # The  Ending can position can be large but it will stop at length of the string

pto

In [31]:
# List are the mutable container datatype which are store in square brackets and contain any object
# Collection of mutable object
a = [1,1.90,'sam',True,[1,2,2]]
len(a)

5

In [32]:
# Concatination of List
x = [1,2,3]
x + x

[1, 2, 3, 1, 2, 3]

In [33]:
# list multiply with number gives concatenate number of times
x*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
x.index(2) # gives theindex of the object

1

In [35]:
# Count the number in a list
x.count(1)

1

In [37]:
x = [1,2,10,11,19]
x[4] = 100
x

[1, 2, 10, 11, 100]

In [41]:
x.append(19) # Append insert the data at the end of the list

[1, 2, 10, 11, 19, 19]

In [42]:
print(x.remove(19)) # removes the last object from the list

None

In [43]:
x

[1, 2, 10, 11, 19]

In [44]:
x.insert(2,'Mohan') # Insert data at particular index position

In [45]:
x

[1, 2, 'Mohan', 10, 11, 19]

In [46]:
x.pop(-1)# remove the data from particular index or from end

19

In [51]:
# In list the sorting is done when all the object beling to same datatype

In [47]:
x

[1, 2, 'Mohan', 10, 11]

In [52]:
st = "Mohan"
st.replace("oh","ho")

'Mhoan'

In [53]:
id(st)

2196076966896

In [56]:
st.replace("n",'m')

'Moham'

In [57]:
id(st)

2196076966896

In [58]:
x = [10,12,14,18,19]
x[::-1]

[19, 18, 14, 12, 10]

# tuple
###### tuple is collection of object but it is immutable
###### we can perfrom two operation in tuple index and and count 
###### If at index 0 is one and True is at index position 3 then the index of true is index of one

In [63]:
x = (1,2,'sam',[1,2,3,4])
len(x)
x[-1][2]

3

In [64]:
# tuple is execute fast than a list
# tuple immutable 
# tuple consume less memory as compare list because it has less functionality

x = [1,2,3,4]
y = (1,2,3,4)
x.__sizeof__()
y.__sizeof__()

56

In [73]:
# list inside a tuple is mutable Change location of the list is not changing
d = (1,2,[3,4])
d[2].append(5)
id(d[2])

2196077476800

In [69]:
d

(1, 2, [3, 4, 5])

In [74]:
# tuple inside a list is immutable change location of the tuple changes
e = [1,2,(3,4,5)]
e[2]

(3, 4, 5)

# Set
###### Set is collection of collection Unique data.

In [75]:
s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

s1.intersection(s2)

{2, 4}

In [76]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [86]:
# Indexing is not support inside a set because it don;t have any order of Element
# Set only contain immutable data
# Set is mutable data object
# Set itself is mutable but it contain immutable data
# When the id of object change after changing it's element then it is immutable.
# When the id of the object not change after the changing it's element then it is mutable.
s1 = {1,1.2,'mohan',(1,2,3),True}
s1

{(1, 2, 3), 1, 1.2, 'mohan'}